h1 {
    color: darkred;
    background-color: darkgoldenrod;
}

#p-01 {
    background-color: darkorange;
}

#p-02 {
    background-color: cadetblue;
}

#p-03 {
    background-color: firebrick;
}

#p-04 {
    background-color: yellowgreen;
}