h1 {
    color: green;
    background-color: black;
}

#p-01 {
    background-color: chartreuse;
}

#p-02 {
    background-color: aqua;
}

#p-03 {
    background-color: darkolivegreen;
}

#p-04 {
    background-color: hotpink;
}