h1 {
    color: blue;
    background-color: salmon;
}

#p-01 {
    background-color: saddlebrown;
}

#p-02 {
    background-color: seagreen;
}

#p-03 {
    background-color: red;
}

#p-04 {
    background-color: teal;
}