h1 {
    color: red;
    background-color: yellow;
}

#p-01 {
    background-color: rebeccapurple;
}

#p-02 {
    background-color: violet;
}

#p-03 {
    background-color: green;
}

#p-04 {
    background-color: darkcyan;
}